<div class="jumbotron">
	<h1>Welcome to the SOAP Journal app</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>
	<p>Sign Up <%= link_to "here", "#"%> or Sign In here</p>
<p>Find me in app/views/pages/home.html.erb</p>
